font-family = Cascadia Code NF
font-feature = calt=1
font-feature = ss01=1
title = ""
background-opacity = {{ color_scheme_opacity }}
window-decoration = false

background = #{{ color_scheme_vars['base00-hex'] }}
foreground = #{{ color_scheme_vars['base05-hex'] }}
cursor-color = #{{ color_scheme_vars['base05-hex'] }}
selection-background = #{{ color_scheme_vars['base02-hex'] }}
selection-foreground = #{{ color_scheme_vars['base05-hex'] }}

palette = 0=#{{ color_scheme_vars['base00-hex'] }}
palette = 1=#{{ color_scheme_vars['base08-hex'] }}
palette = 2=#{{ color_scheme_vars['base0B-hex'] }}
palette = 3=#{{ color_scheme_vars['base0A-hex'] }}
palette = 4=#{{ color_scheme_vars['base0D-hex'] }}
palette = 5=#{{ color_scheme_vars['base0E-hex'] }}
palette = 6=#{{ color_scheme_vars['base0C-hex'] }}
palette = 7=#{{ color_scheme_vars['base05-hex'] }}
palette = 8=#{{ color_scheme_vars['base03-hex'] }}
palette = 9=#{{ color_scheme_vars['base08-hex'] }}
palette = 10=#{{ color_scheme_vars['base0B-hex'] }}
palette = 11=#{{ color_scheme_vars['base0A-hex'] }}
palette = 12=#{{ color_scheme_vars['base0D-hex'] }}
palette = 13=#{{ color_scheme_vars['base0E-hex'] }}
palette = 14=#{{ color_scheme_vars['base0C-hex'] }}
palette = 15=#{{ color_scheme_vars['base07-hex'] }}
palette = 16=#{{ color_scheme_vars['base09-hex'] }}
palette = 17=#{{ color_scheme_vars['base0F-hex'] }}
palette = 18=#{{ color_scheme_vars['base01-hex'] }}
palette = 19=#{{ color_scheme_vars['base02-hex'] }}
palette = 20=#{{ color_scheme_vars['base04-hex'] }}
palette = 21=#{{ color_scheme_vars['base06-hex'] }}
