#jinja2: trim_blocks:False
return {
{%- for plugin in vim_plugins %}
  {
    src = "https://github.com/{{ plugin['name'] }}",
{%- if plugin.version is defined %}
    version = "{{ plugin.version }}",
{%- endif %}
{%- if plugin.post_hook_cmd is defined %}
    post_hook_cmd = "{{ plugin.post_hook_cmd }}",
{%- endif %}
{%- if plugin.post_hook_system is defined %}
    post_hook_system = "{{ plugin.post_hook_system }}",
{%- endif %}
  },
{%- endfor %}
}
