[defaults]
interpreter_python=/usr/bin/python
inventory = {{CWD}}/hosts.yml
roles_path = vendor/roles
allow_world_readable_tmpfiles = True

# Make debug output YAML
callback_result_format = yaml
bin_ansible_callbacks = True
callbacks_enabled = profile_tasks

[chroot_connection]
exe = arch-chroot
