# vim:ft=ansible:
---
- name: CLI Tools | Install packages
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - aws-cli
    - bc
    - bfs
    - dstat
    - expac
    - fwupd
    - fzf
    - git
    - htop
    - imv
    - jq
    - lsof
    - net-tools
    - openssh
    - rsync
    - tig
    - unzip
    - vim
    - yajl
    - ruby
    - ripgrep
    - xdg-utils
  become: true

- name: CLI Tools | Install fzf helper scripts
  copy:
    dest: "/usr/local/bin/{{ item | basename }}"
    src: "{{ item }}"
    mode: a+x
  become: true
  with_fileglob:
    - files/fzf_helpers/*
