# vim:ft=yaml.ansible:
---
- name: Deluge torrents | Install pacakges
  become: true
  package:
    name: "{{ item }}"
    state: present
    use: pacaur
  with_items:
    - pygtk
    - deluge

- name: Deluge torrents | Create config dir
  file:
    path: "/home/{{ user.name }}/.config/deluge"
    state: directory
    owner: "{{ user.name }}"

- name: Deluge torrents | Install blocklist
  copy:
    dest: "/home/{{ user.name }}/.config/deluge/blocklist.conf"
    src: files/deluge_blocklist.conf
    owner: "{{ user.name }}"

- name: Deluge torrents | Install config
  template:
    dest: "/home/{{ user.name }}/.config/deluge/core.conf"
    src: templates/deluge_core.conf.j2
    owner: "{{ user.name }}"
