# vim:ft=yaml.ansible:
---
- name: eeek | Install packages
  package:
    state: present
    name:
      - tad-bin
      - tmate
      - temporal-cli
      - direnv
      - python312
      - pre-commit
      - scie-pants-bin
      - slack-desktop
      - cloudflare-warp-bin
      - pqrs-bin
  become: true

- name: eeek | Install .netrc
  template:
    src: templates/eeek-netrc
    dest: "{{ user_home_dir }}/.netrc"
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    mode: "0600"

- name: eeek | Make AWS config dir
  file:
    dest: "{{ user_home_dir }}/.aws"
    state: directory
    owner: "{{ user.name }}"
    group: "{{ user.group }}"

- name: eeek | Install AWS config
  copy:
    content: "{{ lookup('pipe', 'pass show eq/aws.conf') }}"
    dest: "{{ user_home_dir }}/.aws/config"
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
