# vim:ft=ansible:
---
- name: Firefox | Install packages
  pacaur:
    name: "{{ item }}"
    state: present
  with_items:
    - firefox
    - firefox-ublock-origin
    - firefox-vim-vixen
    - freshplayerplugin
    - pepper-flash
    - google-talkplugin
  become: true

- name: Firefox | Make default profile
  shell: firefox -headless -CreateProfile "default /home/{{ user.name }}/.mozilla/firefox/default.profile" 2>&1 | grep -q Success
  args:
    creates: "/home/{{ user.name }}/.mozilla/firefox/default.profile"
  become: true
  become_user: "{{ user.name }}"

- name: Firefox | Configure firefox
  copy:
    dest: "/home/{{ user.name }}/.mozilla/firefox/default.profile/user.js"
    src: firefox-user.js
    owner: "{{ user.name }}"

- name: Firefox | Create vim-vixen plugin config dir
  file:
    path: "/home/{{ user.name }}/.mozilla/firefox/default.profile/browser-extension-data/vim-vixen@i-beam.org"
    state: directory
    owner: "{{ user.name }}"

- name: Firefox | Configure vim-vixen plugin
  copy:
    dest: "/home/{{ user.name }}/.mozilla/firefox/default.profile/browser-extension-data/vim-vixen@i-beam.org/storage.js"
    src: firefox-vim-vixen-settings.js
    owner: "{{ user.name }}"

- name: Firefox | Configure flash plugin
  copy:
    remote_src: true
    src: /usr/share/freshplayerplugin/freshwrapper.conf.example
    dest: "/home/{{ user.name }}/.config/freshwrapper.conf"
    force: no
    owner: "{{ user.name }}"

- name: Firefox | Enable hardware acceleration for flash plugin
  lineinfile:
    dest: "/home/{{ user.name }}/.config/freshwrapper.conf"
    regexp: "^enable_hwdec ="
    line: "enable_hwdec = 1"
