# vim:ft=yaml.ansible:
---
- name: media | Install packages
  become: true
  package:
    name:
      - alsa-utils
      - pipewire
      - pipewire-alsa
      - pipewire-docs
      - pipewire-pulse
      - sof-firmware
      - pwvucontrol
      - gstreamer
      - gst-plugin-va
      - gst-plugins-base
      - gst-plugins-good
      - gst-plugin-pipewire
      - gst-libav
      - gst-plugin-va
      - playerctl
      - wireplumber
      - lollypop
      - mpv
      - xdg-desktop-portal
      - xdg-desktop-portal-wlr
      - xdg-desktop-portal-gtk
      - calibre
      - intel-media-driver
    state: present

- name: media | Create XDG portal config dir
  file:
    path: "{{ user_config_dir }}/xdg-desktop-portal"
    state: directory
    owner: "{{ user.name }}"
    group: "{{ user.group }}"

- name: media | Install XDG portal config file
  copy:
    src: files/sway-portals.conf
    dest: "{{ user_config_dir }}/xdg-desktop-portal/sway-portals.conf"
    owner: "{{ user.name }}"
    group: "{{ user.group }}"

- name: media | Create wireplumber config dirs
  become: true
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - /etc/wireplumber
    - /etc/wireplumber/bluetooth-lua.d

- name: media | Create wireplumber config to enable camera
  become: true
  copy:
    src: files/wireplumber-99-libcamera.lua
    dest: /etc/wireplumber/99-libcamera.lua

- name: media | Create wireplumber config to enable high quality bluetooth codecs
  become: true
  copy:
    src: files/wireplumber-bluez-config.lua
    dest: /etc/wireplumber/bluetooth-lua.d/51-bluez-config.lua

- name: media | Install headphone profile toggle script
  become: true
  copy:
    src: files/toggle-headphone-profile
    dest: /usr/local/bin/toggle-headphone-profile
    mode: a+x

- name: media | Create mpv config dir
  file:
    path: "{{ user_config_dir }}/mpv"
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
    state: directory

- name: media | Create mpv config
  copy:
    src: files/mpv.conf
    dest: "{{ user_config_dir }}/mpv/mpv.conf"
    owner: "{{ user.name }}"
    group: "{{ user.group }}"
