# vim:ft=ansible:
---
- name: Set timezone to America/Las_Angeles
  become: true
  timezone:
    name: America/Los_Angeles

- name: Check timedatectl NTP status
  command: timedatectl status
  register: timedatectl_ntp_status
  changed_when: false

- name: Time | Enable timedatectl NTP
  command: timedatectl set-ntp true
  become: true
  when: "'Network time on: no' in timedatectl_ntp_status.stdout"
