# vim:ft=yaml
---
version: 0.1
focused_foreground_color: "#{{ color_scheme_vars['base03-hex'] }}"
minimum_workspace_count: {{ window_manager["waybar_minimum_workspace_count"] }}
background_colors:
  - "#{{ color_scheme_vars['base0E-hex'] }}" # Base0E
  - "#{{ color_scheme_vars['base0D-hex'] }}" # Base0D
  - "#{{ color_scheme_vars['base0C-hex'] }}" # Base0C
  - "#{{ color_scheme_vars['base0B-hex'] }}" # Base0B
  - "#{{ color_scheme_vars['base0A-hex'] }}" # Base0A
  - "#{{ color_scheme_vars['base09-hex'] }}" # Base09
