[Unit]
Description=Backblaze restic backup start notification

[Service]
Type=oneshot
ExecStart=/usr/bin/notify-send --urgency=normal \
  --expire-time=8000 \
  --app-name="Restic Backblaze Backup" \
  "Backblaze backup starting" \
  "You might be prompted for credentials"
