{
{% for coc_plugin in coc_plugins -%}
{% for setting, setting_value in (coc_plugin["settings"] | default({})).items() %}
  {{ setting | to_json }}: {{ setting_value | to_json }},
{% endfor %}
{% endfor %}
  "coc.preferences.formatOnSave": true,
  "coc.preferences.formatOnSaveFiletypes": {{ coc_plugins | map(attribute="languages") | flatten | to_json }},
  "diagnostic.checkCurrentLine": true
}
