require("formatter").setup({
  filetype = {
    {% for language, formatters in language_formatters.items() %}
    {{ language }} = {
      {% for formatter in formatters %}
      require("formatter.filetypes.{{ language }}").{{ formatter }},
      {% endfor %}
    },
    {% endfor %}
    ["*"] = {
      require("formatter.filetypes.any").remove_trailing_whitespace
    },
  }
})

local format_autogroup = vim.api.nvim_create_augroup("format", {})
vim.api.nvim_create_autocmd("BufWritePost", {
  pattern = "*",
  command = "FormatWrite",
  group = format_autogroup,
})
