require("nvim-treesitter.configs").setup {
  ensure_installed = {
  {% for plugin in tree_sitter_plugins %}
    "{{ plugin }}",
  {% endfor %}
  },
  sync_install = false,
  auto_install = true,

  highlight = { enable = true },
}
