call plug#begin(stdpath('data') . '/plugged')

{% for plugin in vim_plugins %}
Plug '{{ plugin['name'] }}', {{ plugin['args'] | default ({}) | to_json | replace('"', "'") }}
{% endfor %}
{% for plugin in coc_plugins %}
Plug '{{ plugin['name'] }}', {{ plugin['args'] | default ({}) | to_json | replace('"', "'") }}
{% endfor %}

call plug#end()
