#jinja2: trim_blocks:False
return {
  formatters_by_ft = {
  {%- for language, formatters in language_formatters.items() %}
    {{ language }} = {
      {%- for formatter in formatters %}
      "{{ formatter }}",
      {%- endfor %}
    },
  {%- endfor %}
    ["_"] = { "trim_whitespace" },
  },

  default_format_opts = {
    lsp_format = "fallback",
  },

  format_on_save = {
    lsp_format = "fallback",
    timeout_ms = 500,
  },

  notify_on_error = true,
  notify_no_formatters = true,
}
