enable pass-credential@{{ inventory_hostname }}-restic_backblaze_key.socket
enable pass-credential@{{ inventory_hostname }}-restic_backblaze_key_id.socket
enable pass-credential@restic_backup_password.socket
enable restic-backblaze-backup.timer
