font:
  normal:
    family: {{ font["monospace_family"] }}
  bold:
    family: {{ font["monospace_family"] }}
  italic:
    family: {{ font["monospace_family"] }}

env:
  TERM: alacritty

background_opacity: 0.8

{{ base16_alacritty["schemes"][base16_scheme]["alacritty"]["colors"]["base16-" + base16_scheme + ".yml"] }}
