// High DPI
{% if firefox.hidpi %}
user_pref("layout.css.devPixelsPerPx", "2");
{% else %}
user_pref("layout.css.devPixelsPerPx", "1");
{% endif %}

// Improve font rendering
user_pref("gfx.canvas.azure.backends", "cairo");
user_pref("gfx.content.azure.backends", "cairo");
user_pref("gfx.font_rendering.fontconfig.max_generic_substitutions", 127);

// Set default font
user_pref("font.name.serif.x-western", "{{ font.monospace_family }}");
user_pref("font.name.sans-serif.x-western", "{{ font.monospace_family }}");
user_pref("font.default.x-western", "sans-serif");

// Enable Firefox account containers
user_pref("privacy.userContext.enabled", true);

// Get a file picker with thumbnails
user_pref("widget.use-xdg-desktop-portal", true);

// Appearence
{% set browser_ui_customization_state = {
  "placements": {
    "widget-overflow-fixed-list": [],
    "PersonalToolbar": ["personal-bookmarks"],
    "nav-bar": [
      "back-button",
      "forward-button",
      "stop-reload-button",
      "customizableui-special-spring1",
      "urlbar-container",
      "customizableui-special-spring2",
      "downloads-button",
      "ublock0-button",
      "screenshots_mozilla_org-browser-action",
      "browserpass_maximbaz_com-browser-action"
    ],
    "toolbar-menubar": ["menubar-items"],
    "TabsToolbar": ["tabbrowser-tabs", "new-tab-button", "alltabs-button"]
  },
  "seen": [
    "pocket-button",
    "ublock0-button",
    "developer-button",
    "webide-button",
    "ublock0_raymondhill_net-browser-action",
    "screenshots_mozilla_org-browser-action",
    "browserpass_maximbaz_com-browser-action",
    "vim-vixen_i-beam_org-browser-action",
  ],
  "dirtyAreaCache": [
    "PersonalToolbar",
    "nav-bar",
    "TabsToolbar",
    "toolbar-menubar",
    "dactyl-addon-bar",
    "PanelUI-contents",
    "addon-bar",
  ],
  "currentVersion": 14,
  "newElementCount": 2,
} %}
user_pref("browser.uiCustomization.state", '{{ browser_ui_customization_state | to_json }}');
user_pref("browser.urlbar.oneOffSearches", false);
user_pref("lightweightThemes.persisted.footerURL", false);
user_pref("lightweightThemes.persisted.headerURL", false);
user_pref("reader.parse-on-load.enabled", false);
user_pref("ui.textSelectBackground", "#{{ color_scheme_vars["base0C-hex"] }}");

// Don't upload data to mozilla
user_pref("app.shield.optoutstudies.enabled", false);
user_pref("datareporting.healthreport.uploadEnabled", false);
user_pref("privacy.donottrackheader.enabled", true);

// Remove nags
user_pref("browser.shell.checkDefaultBrowser", false);
user_pref("browser.uitour.enabled", false);
user_pref("general.warnOnAboutConfig", false);
user_pref("signon.rememberSignons", false);

// Restore session at startup
user_pref("browser.startup.page", 3);

// Enable Webrender, remove this once it's on by default!
user_pref("gfx.webrender.all", true);

// Enable pipelining
user_pref("network.http.pipelining", true);
user_pref("network.http.pipelining.ssl", true);
user_pref("network.http.proxy.pipelining", true);

// Enable HTTP caching
user_pref("browser.cache.use_new_backend", 1);

// Render pages immediately
user_pref("nglayout.initialpaint.delay", 0);

// Decrease disk writes, less frequent session restore writes
user_pref("browser.sessionstore.interval", 300000);

// Enable experimental wayland optimizations
user_pref("media.ffmpeg.dmabuf-textures.enabled", true);
user_pref("media.ffmpeg.low-latency.enabled", true);
user_pref("media.ffmpeg.vaapi-drm-display.enabled", true);
user_pref("media.ffmpeg.vaapi.enabled", true);
user_pref("media.rdd-ffmpeg.enabled", true);
user_pref("media.rdd-process.enabled", false); // This should be temporary - works around https://bugzilla.mozilla.org/show_bug.cgi?id=1688627#c7
user_pref("media.ffvpx.enabled", false);
user_pref("media.rdd-vpx.enabled", false);
user_pref("widget.dmabuf-textures.enabled", true);
user_pref("widget.dmabuf-webgl.enabled", true);
user_pref("widget.wayland_vsync.enabled", true);
user_pref("gfx.webrender.max-partial-present-rects", -1);
user_pref("media.navigator.mediadatadecoder_vpx_enabled", true); // WebRTC acceleration
