[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  features = base16-256
  line-numbers = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[user]
  name = {{ user.name }}
  useConfigOnly = true

[include]
  path = {{ user_data_dir }}/delta-themes.gitconfig
  path = {{ user_config_dir }}/gitconfig/personal

[includeIf "gitdir:~/src/eeek/"]
  path = {{ user_config_dir }}/gitconfig/eeek

[color]
  ui = auto

[alias]
  ci = commit
  co = checkout
  st = status
  br = branch
  staged = diff --cached
  sed = ! git grep -z --full-name -l '.' | xargs -0 sed -i -e
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  oneline = log --pretty=format:\"%h %ad%x20%s%x20%x28%an%x29\" --date=sh
  current = log --pretty=format:'%ad %h %d' --abbrev-commit --date=short
  cur = log --pretty=format:'%ad %h %d' --abbrev-commit --date=short -1
  branches = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  fco = !git checkout "$(git branch --all | tr -d ' ' | cut -f 3 -d '/' | fzf)"

[init]
  defaultBranch = main

[push]
  autoSetupRemote = true
