window {
  background-color: transparent;
}

box#body {
    background: rgba({{ color_scheme_vars["base01-rgb-r"] }}, {{ color_scheme_vars["base01-rgb-g"] }}, {{ color_scheme_vars["base01-rgb-b"] }}, {{ color_scheme_opacity }});
    padding: 30px;
    border-radius: 15px;
}

/* "Log in" button */
.suggested-action {
    background: rgb({{ color_scheme_vars["base0E-rgb-r"] }}, {{ color_scheme_vars["base0E-rgb-g"] }}, {{ color_scheme_vars["base0E-rgb-b"] }});
}
