[Settings]
{% if dpi is defined and dpi > 96 %}
gtk-font-name=Noto Sans Regular 6
{% endif %}
gtk-theme-name=Breeze-Dark
gtk-icon-theme-name=breeze
gtk-fallback-icon-theme=hicolor
gtk-cursor-theme-name=Oxygen_Zion
gtk-toolbar-style=GTK_TOOLBAR_ICONS
gtk-menu-images=1
gtk-button-images=1
gtk-primary-button-warps-slider=0
