export PATH="${PATH}:/usr/bin/core_perl"

# Use ccache's compilers to get caching
export PATH="${PATH}:/usr/lib/ccache/bin"

export GOPATH="${HOME}/go"
export PATH="${PATH}:${HOME}/go/bin"

{% for gem_path in gem_paths['stdout'].split(':') %}
export PATH="${PATH}:{{ gem_path }}/bin"
{% endfor %}

{% for rust_toolchain_path in rust_toolchain_paths['files'] %}
export PATH="${PATH}:{{ rust_toolchain_path['path'] }}/bin"
{% endfor %}
