# vim: filetype=sh

set -o errexit
set -o nounset

if [[ -z "${DISPLAY:-}" ]] && [[ $(tty) = /dev/tty1 ]] ; then
  systemctl --user import-environment
  systemctl --user start --no-block {{ window_manager.window_manager }}.service
fi
