[redshift]
temp-day=5700
temp-night=3500

; Disable transitions on app startup/shutdown
transition=0

{% if window_manager == "i3" %}
adjustment-method=randr
{% endif %}
location-provider=manual

[manual]
lat=37.7657
lon=-122.433
