Host github.com
  Hostname github.com
  User {{ user.name }}
  IdentityFile ~/.ssh/id_rsa

Host github.com-eeek
  Hostname github.com
  User {{ user.name }}
  IdentityFile ~/.ssh/id_rsa_equilibrium

Host *
  AddKeysToAgent yes
  IdentitiesOnly yes
  PreferredAuthentications publickey
  Compression yes
