scaling=fill
font=FuraMono Nerd Font Mono {{ font_size }}
indicator-radius=200
indicator-thickness=60

color={{ color_scheme_vars['base01-hex-r'] }}{{ color_scheme_vars['base01-hex-g'] }}{{ color_scheme_vars['base01-hex-b'] }}C0
inside-color={{ color_scheme_vars['base01-hex-r'] }}{{ color_scheme_vars['base01-hex-g'] }}{{ color_scheme_vars['base01-hex-b'] }}00
inside-clear-color={{ color_scheme_vars['base01-hex-r'] }}{{ color_scheme_vars['base01-hex-g'] }}{{ color_scheme_vars['base01-hex-b'] }}00
inside-ver-color={{ color_scheme_vars['base01-hex-r'] }}{{ color_scheme_vars['base01-hex-g'] }}{{ color_scheme_vars['base01-hex-b'] }}00
inside-wrong-color={{ color_scheme_vars['base01-hex-r'] }}{{ color_scheme_vars['base01-hex-g'] }}{{ color_scheme_vars['base01-hex-b'] }}00
inside-caps-lock-color={{ color_scheme_vars['base09-hex-r'] }}{{ color_scheme_vars['base09-hex-g'] }}{{ color_scheme_vars['base09-hex-b'] }}00

ring-color={{ color_scheme_vars['base0E-hex-r'] }}{{ color_scheme_vars['base0E-hex-g'] }}{{ color_scheme_vars['base0E-hex-b'] }}
ring-clear-color={{ color_scheme_vars['base0E-hex-r'] }}{{ color_scheme_vars['base0E-hex-g'] }}{{ color_scheme_vars['base0E-hex-b'] }}
ring-caps-lock-color={{ color_scheme_vars['base0E-hex-r'] }}{{ color_scheme_vars['base0E-hex-g'] }}{{ color_scheme_vars['base0E-hex-b'] }}

ring-ver-color={{ color_scheme_vars['base0D-hex-r'] }}{{ color_scheme_vars['base0D-hex-g'] }}{{ color_scheme_vars['base0D-hex-b'] }}
ring-wrong-color={{ color_scheme_vars['base08-hex-r'] }}{{ color_scheme_vars['base08-hex-g'] }}{{ color_scheme_vars['base08-hex-b'] }}

line-uses-inside
separator-color=00000000

layout-text-color=FFFFFFFF
text-color=FFFFFFFF
text-caps-lock-color=FFFFFFFF
text-clear-color=FFFFFFFF
text-ver-color=FFFFFFFF
text-wrong-color=FFFFFFFF

bs-hl-color={{ color_scheme_vars['base08-hex-r'] }}{{ color_scheme_vars['base08-hex-g'] }}{{ color_scheme_vars['base08-hex-b'] }}
caps-lock-bs-hl-color={{ color_scheme_vars['base08-hex-r'] }}{{ color_scheme_vars['base08-hex-g'] }}{{ color_scheme_vars['base08-hex-b'] }}

key-hl-color={{ color_scheme_vars['base0C-hex-r'] }}{{ color_scheme_vars['base0C-hex-g'] }}{{ color_scheme_vars['base0C-hex-b'] }}
caps-lock-key-hl-color={{ color_scheme_vars['base0C-hex-r'] }}{{ color_scheme_vars['base0C-hex-g'] }}{{ color_scheme_vars['base0C-hex-b'] }}
