set $mod Mod1
set $left h
set $down j
set $up k
set $right l
set $term termite --title termite --exec tmux
set $menu rofi-toggle 'rofi -show run'
set $passmenu rofi-toggle 'rofi-pass'

### Window rules

for_window [title=".*"] border pixel 0

### Output configuration

focus_follows_mouse yes
font pango:FuraMono Nerd Font Mono {{ font_size }}

gaps inner 7
gaps outer 2

{% if window_manager == "sway" %}
gaps top 15
{% endif %}

{% if window_manager == "sway" %}
output * bg /home/{{ user.name }}/.local/share/wallpapers/current.jpg fill
{% endif %}

### Input configuration

{% if window_manager == "sway" %}
input * {
    # Keyboard configs
    repeat_delay {{ key_repeat_delay }}
    repeat_rate {{ key_repeat_rate }}
    xkb_options caps:escape

    # Mouse configs
    natural_scroll enabled
    scroll_method two_finger
    tap enabled
}
{% endif %}

### Key bindings

# Start terminal
bindsym $mod+Return exec $term

# Kill focused window
bindsym $mod+Shift+q kill

# Launchers
bindsym $mod+space exec $menu
bindsym $mod+slash exec $passmenu

# Lockscreen
{% if window_manager == "sway" %}bindsym $mod+Print exec swaylock{% endif %}
{% if window_manager == "i3" %}bindsym $mod+Print exec i3lock{% endif %}

{% if window_manager == "sway" %}
# Lock screen after 10min and put after 15min
exec swayidle -w \
    timeout 600 'swaylock -f' \
    timeout 900 'swaymsg "output * dpms off"' \
       resume 'swaymsg "output * dpms on"' \
    before-sleep 'swaylock -f'
{% endif %}

{% if window_manager == "sway" %}
# Drag floating windows by holding down $mod and left mouse button.
# Resize them with right mouse button + $mod.
# Despite the name, also works for non-floating windows.
# Change normal to inverse to use left mouse button for resizing and right
# mouse button for dragging.
floating_modifier $mod normal
{% elif window_manager == "i3" %}
floating_modifier $mod
{% endif %}

# reload the configuration file
bindsym $mod+Shift+c reload

# exit window manager (logs you out of your session)
bindsym $mod+Shift+e exit

### Moving around:

# Move your focus around
bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# _move_ the focused window with the same, but add Shift
bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right
# ditto, with arrow keys
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right


### Workspaces:

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10
# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10


### Layout stuff:

# You can "split" the current object of your focus with
# $mod+b or $mod+v, for horizontal and vertical splits
# respectively.
bindsym $mod+b splith
bindsym $mod+v splitv

# Switch the current container between different layout styles
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# Make the current focus fullscreen
bindsym $mod+f fullscreen

# Toggle the current focus between tiling and floating mode
bindsym $mod+Shift+space floating toggle

# Swap focus between the tiling area and the floating area
bindsym $mod+t focus mode_toggle

# move focus to the parent container
bindsym $mod+a focus parent

### Resizing containers:

bindsym $mod+r mode "resize"

mode "resize" {
    # Left will shrink the containers width
    bindsym $left resize shrink width 10 px or 10 ppt

    # Down will grow the containers height
    bindsym $down resize grow height 10 px or 10 ppt

    # Up will shrink the containers height
    bindsym $up resize shrink height 10 px or 10 ppt

    # Right will grow the containers width
    bindsym $right resize grow width 10 px or 10 ppt

    # Arrow keys the same, but less units
    bindsym Left  resize shrink width  1 px or 1 ppt
    bindsym Down  resize grow   height 1 px or 1 ppt
    bindsym Up    resize shrink height 1 px or 1 ppt
    bindsym Right resize grow   width  1 px or 1 ppt

    # return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

{{ base16_i3['schemes'][base16_scheme]['i3']['colors']['base16-' + base16_scheme + '.config'] }}

{{ base16_i3['schemes'][base16_scheme]['i3']['client-properties']['base16-' + base16_scheme + '.config'] }}

bar {
  position top

  {% if window_manager == "i3" -%}
  {{ base16_i3['schemes'][base16_scheme]['i3']['bar-colors']['base16-' + base16_scheme + '.config'] }}
  {% endif -%}

  {% if window_manager == "sway" %}swaybar_command waybar-wrapper{% endif %}

}

{% if window_manager == "sway" %}exec waybar-sway-workspace-output-manager{% endif %}

bindsym XF86AudioRaiseVolume exec pactl set-sink-volume $(pacmd list-sinks |awk '/* index:/{print $3}') +5%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume $(pacmd list-sinks |awk '/* index:/{print $3}') -5%
bindsym XF86AudioMute exec pactl set-sink-mute $(pacmd list-sinks |awk '/* index:/{print $3}') toggle

{% if window_manager == "sway" %}
# Screenshot a selectable region
bindsym $mod+Shift+Ctrl+1 exec grim -g "$(slurp)" - | wl-copy

# Screenshot the current active monitor
bindsym $mod+Shift+Ctrl+2 exec grim -o $(swaymsg -t get_outputs | jq -r '.[] | select(.focused) | .name') - | wl-copy
{% endif %}
