[Match]
Name={{ networking.interface }}

[Network]
DHCP=yes
IPv6AcceptRA=yes
IgnoreCarrierLoss=3s
KeepConfiguration=dhcp-on-stop

[Link]
RequiredForOnline=routable

[IPv6AcceptRA]
DHCPv6Client=yes
Token=static:::1
