# vim: ft=dosini cms=#%s

[options]
font = Monospace {{ font_size }}

cursor_blink = off
cursor_shape = block

[colors]
foreground          = #{{ color_scheme_vars['base05-hex'] }}
foreground_bold     = #{{ color_scheme_vars['base06-hex'] }}
cursor              = #{{ color_scheme_vars['base06-hex'] }}
cursor_foreground   = #{{ color_scheme_vars['base00-hex'] }}
background          = rgba({{ color_scheme_vars['base01-rgb-r'] }}, {{ color_scheme_vars['base01-rgb-g'] }}, {{ color_scheme_vars['base01-rgb-b'] }}, 0.8)
