[options]
{% if monitor.dpi is defined and monitor.dpi > 96 %}
font = Monospace 20
{% else %}
font = Monospace 9
{% endif %}

cursor_blink = off
cursor_shape = block

[colors]
background = rgba(63, 63, 63, 0.85)
cursor = #DCDCCC

# vim: ft=dosini cms=#%s
