{% set bar_opacity = '0.7' -%}
{% set scheme_vars = base16_waybar['schemes'][base16_scheme]['scheme-variables'] -%}
{{ base16_waybar['schemes'][base16_scheme]['waybar']['colors']['base16-'+base16_scheme+'.css'] }}

* {
  border: none;
  border-radius: 0;
  font-family: FuraMono Nerd Font Mono, Helvetica, Arial, sans-serif;
  font-size: 30px;
}

window#waybar {
  /* base01 */
  background: rgba({{ scheme_vars['base01-rgb-r'] }}, {{ scheme_vars['base01-rgb-g'] }}, {{ scheme_vars['base01-rgb-b'] }}, {{ bar_opacity }});

  border-bottom: 3px solid transparent;
  color: @base04;
}

#workspaces button {
  /* base01 */
  background: rgba({{ scheme_vars['base01-rgb-r'] }}, {{ scheme_vars['base01-rgb-g'] }}, {{ scheme_vars['base01-rgb-b'] }}, {{ bar_opacity }});

  padding: 0 15px;
  color: @base04;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  /* base01 */
  background: rgba({{ scheme_vars['base01-rgb-r'] }}, {{ scheme_vars['base01-rgb-g'] }}, {{ scheme_vars['base01-rgb-b'] }}, {{ bar_opacity }});
  border-bottom: 3px solid @base09;
}

#mode {
  background: transparent;
  border-bottom: 3px solid @base09;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#mode {
  padding: 0 6px;
  margin: 0 3px;
}

#clock {
  background-color: transparent;
  border-bottom: 3px solid @base09;
  color: @base04;
}

#battery {
  background-color: transparent;
  border-bottom: 3px solid @base09;
  color: @base04;
}

@keyframes critical-blink {
  to {
    background-color: @base08;
    opacity: 0.4
  }
}

#battery.warning:not(.charging) {
  border-bottom: 3px solid @base08;
}

#battery.critical:not(.charging) {
  border-bottom: 3px solid @base08;
  color: white;
  animation-name: critical-blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  background: transparent;
  border-bottom: 3px solid @base09;
  color: @base04;
}

#memory {
  background: transparent;
  border-bottom: 3px solid @base09;
  color: @base04;
}

#network {
  background: transparent;
  border-bottom: 3px solid @base09;
  color: @base04;
}

#network.disconnected {
  background: transparent;
  color: @base08;
}

#pulseaudio {
  background: transparent;
  border-bottom: 3px solid @base09;
  color: @base04;
}

#tray {
  background-color: transparent;
  border-bottom: 3px solid @base09;
}
