* {
  border: none;
  border-radius: 0;
  margin: 0px 0px 0px 0px;
  min-height: 50px;

  background: transparent;
  color: white;

  font-family: FuraMono Nerd Font Mono, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

window#waybar {
  /* base01 */
  background: rgba({{ color_scheme_vars['base01-rgb-r'] }}, {{ color_scheme_vars['base01-rgb-g'] }}, {{ color_scheme_vars['base01-rgb-b'] }}, {{ color_scheme_opacity }});

  color: #{{ color_scheme_vars['base04-hex'] }};
}

#workspaces button {
  /* base01 */
  background: rgba({{ color_scheme_vars['base01-rgb-r'] }}, {{ color_scheme_vars['base01-rgb-g'] }}, {{ color_scheme_vars['base01-rgb-b'] }}, {{ color_scheme_opacity }});

  padding: 0 15px;
  color: #{{ color_scheme_vars['base04-hex'] }};
  border-bottom: 3px solid transparent;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  /* base01 */
  background: rgba({{ color_scheme_vars['base01-rgb-r'] }}, {{ color_scheme_vars['base01-rgb-g'] }}, {{ color_scheme_vars['base01-rgb-b'] }}, {{ color_scheme_opacity }});
  border-bottom: 3px solid #{{ color_scheme_vars['base09-hex'] }};
}

@keyframes critical-blink {
  to {
    color: #{{ color_scheme_vars['base08-hex'] }};
  }
}

#battery.warning:not(.charging) {
  animation-name: critical-blink;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-rotation-lock {
  font-size: 27px;
}

#battery.critical:not(.charging) {
  animation-name: critical-blink;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
