#jinja2: trim_blocks:False
ctrl_interface=/run/wpa_supplicant
ctrl_interface_group=wheel
update_config=1
country=US

{% for network in (networking.networks | default([])) %}
network={
  ssid="{{ network.ssid }}"
  {%- if network.psk is defined %}
  psk="{{ network.psk }}"
  {%- endif %}
  {%- if network.password is defined %}
  password="{{ network.password }}"
  {%- endif %}
  {%- if network.key_mgmt is defined %}
  key_mgmt={{ network.key_mgmt }}
  {%- endif %}
  {%- if network.eap is defined %}
  eap={{ network.eap }}
  {%- endif %}
  {%- if network.identity is defined %}
  identity="{{ network.identity }}"
  {%- endif %}
  {%- if network.phase2 is defined %}
  phase2="{{ network.phase2 }}"
  {%- endif %}
}
{%- endfor %}
