ctrl_interface=/run/wpa_supplicant
ctrl_interface_group=wheel
update_config=1
country=US

{% for wpa_passphrase_result in wpa_passphrase_results.results %}
{{ wpa_passphrase_result.stdout }}
{% endfor %}
