[Unit]
Description=Xorg server
Documentation=man:Xorg(1)

After=x11.socket
Requires=x11.socket

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/Xorg $DISPLAY -nolisten tcp -noreset -ardelay {{ key_repeat_delay }} -arinterval {{ key_repeat_rate }} -verbose 2 "vt1"
SuccessExitStatus=0 1

[Install]
WantedBy=default.target
