[Unit]
Description=Xorg server
Documentation=man:Xorg(1)
PartOf=graphical-session-pre.target

[Service]
ExecStart=/usr/bin/Xorg $DISPLAY -nolisten tcp -noreset -ardelay {{ key_repeat_delay }} -arinterval {{ key_repeat_rate }} -verbose 2 "vt1"
SuccessExitStatus=0 1
Restart=on-failure
RestartSec=1
TimeoutStopSec=10
