{% if dpi is defined %}
Xft.dpi: {{ dpi }}
{% endif %}
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.letterSpace: -1
URxvt.font: xft:Hack-Regular:size=8
URxvt.boldFont: xft:Hack-Bold:size=8
URxvt.boldItalicFont: xft:Hack-BoldItalic:size=8
URxvt.italicFont: xft:Hack-Italic:size=8
