{% if dpi is defined %}
Xft.dpi: {{ dpi }}
{% endif %}
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.font: xft:DejaVuSansMono:size=8
URxvt.italicFont: xft:DejaVuSansMono:size=8
