{% if monitor.dpi is defined %}
Xft.dpi: {{ monitor.dpi }}
{% endif %}
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

#include "/usr/local/share/base16-xresources/xresources/base16-{{ base16_theme }}-256.Xresources"
