[Unit]
Description=execute calise as systemd service
After=dev-video0.device
BindsTo=dev-video0.device

[Service]
Type=dbus
ExecStart=/usr/bin/calised
ExecStop=/usr/bin/calised --stop
BusName=org.calise.service

[Install]
WantedBy=multi-user.target
