[Unit]
Description=Delay start of services depending on the window manager until its ready for requests and its env vars are availabe to other units
PartOf=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/sleep 2s

[Install]
WantedBy=graphical-session.target
