[Unit]
Description=i3 session

After=graphical-session-pre.target
BindsTo=graphical-session.target
Conflicts=sway-session.target
Wants=graphical-session-pre.target
