[Unit]
Description=Run i3
Documentation=man:i3(1)

After=graphical-session-ready.target
PartOf=x11-session.target
Requires=graphical-session-ready.target

[Service]
ExecStart=/usr/bin/i3
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=x11-session.target
