/* Based on codemedic's work (https://gist.github.com/codemedic/f11cc460b8d9544f9afc) */
QWidget, QTabWidget::pane, QTabWidget::tab-bar {
  background-color: #383c4a;
}
QTabBar::tab {
  color: #777;
  background-color: #383c4a; /* Pick from current color scheme from System Settings > Color > Modify > Colors > Window Background */
  font-size: 16px;
  height: 32px;
  padding: 8px;
}
QTabBar::tab:selected, QTabBar::tab:hover {
  color: #d3dae3; /* Pick from current color scheme from System Settings > Color > Modify > Colors > Window Text */
  background: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0, stop: 0 #d3dae3, stop: 0.001 #d3dae3, stop: 0.07 #383c4a);
  /* Same as color         Same as color  Same as background-color*/
}
