[Unit]
Description=Multitouch via libinput-gestures for display %i

After=x11@%i.target
BindsTo=x11@%i.target

[Service]
Environment=DISPLAY=:%I
ExecStart=/usr/bin/libinput-gestures

[Install]
WantedBy=x11@%i.target
