[Unit]
Description=Multitouch via libinput-gestures
BindsTo=xorg.service

[Service]
ExecStart=/usr/bin/libinput-gestures

[Install]
WantedBy=xorg.service
