[Unit]
Description=Multitouch via libinput-gestures
Documentation=https://github.com/bulletmark/libinput-gestures/blob/master/README.md
After=multi-user.target
Requires=multi-user.target

[Service]
ExecStart=/usr/bin/libinput-gestures
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
