[Unit]
Description=Redshift color temperature adjustment for display %i
Documentation=http://jonls.dk/redshift/

After=x11@%i.target
Requires=x11@%i.target

[Service]
ExecStart=/usr/bin/redshift
Restart=always
Environment=DISPLAY=:%i

[Install]
WantedBy=default.target
