[Unit]
Description=Redshift color temperature adjustment
Documentation=http://jonls.dk/redshift/

After=graphical-session-ready.target
PartOf=graphical-session.target
Requires=graphical-session-ready.target

[Service]
ExecStart=/usr/bin/redshift
Restart=always
RestartSec=2s

[Install]
WantedBy=graphical-session.target
