[Unit]
Description=A screen rotation daemon
Documentation=https://github.com/efernau/rot8
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/rot8 --sleep 4000
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=graphical-session.target
