[Unit]
Description=Sway session

After=graphical-session-pre.target
BindsTo=graphical-session.target
Conflicts=i3-session.target
Wants=graphical-session-pre.target
