[Unit]
Description=Run VBoxClient-all
Documentation=man:VBoxClient(1)

After=graphical-session-ready.target
PartOf=x11-session.target
Requires=graphical-session-ready.target

[Service]
ExecStart=/usr/bin/VBoxClient-all
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=x11-session.target
