[Unit]
Description=Run VBoxClient-all
Documentation=man:VBoxClient(1)
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/VBoxClient-all
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=i3-session.target
