[Unit]
Description=A basic keyboard, blazing the path of modern Wayland keyboards. Sacrificial.
Documentation=https://source.puri.sm/Librem5/virtboard
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/virtboard
Restart=on-failure
RestartSec=1
TimeoutStopSec=10
