[Unit]
Description=Set wallpaper with feh
Documentation=man:feh(1)

After=graphical-session-ready.target
PartOf=x11-session.target
Requires=graphical-session-ready.target

[Service]
ExecStart=/usr/bin/feh --bg-fill %h/.local/share/wallpapers/current.jpg
Type=oneshot

[Install]
WantedBy=x11-session.target
