[Unit]
Description=Manages files read by custom Waybar outputs that uniquely color Sway workspaces
Documentation=https://github.com/mnussbaum/waybar-sway-workspace-output-manager/README.md
PartOf=graphical-session.target

[Service]
ExecStart=%h/.cargo/bin/waybar-sway-workspace-output-manager
Restart=on-failure
RestartSec=1
TimeoutStopSec=10

[Install]
WantedBy=sway-session.target
