[Unit]
Description=Delay start of xorg for display %i

After=xorg@%i.service
Requires=xorg@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/sleep 1

[Install]
WantedBy=default.target
