[Unit]
Description=X resource database (xrdb)
Documentation=man:xrdb(1)

After=graphical-session-delay.service
PartOf=graphical-session-delay.service
Requires=graphical-session-delay.service

[Service]
ExecStart=/usr/bin/xrdb -display $DISPLAY -merge %h/.Xresources
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=graphical-session.target
