[Unit]
Description=First-boot Ansible provisioning
ConditionFirstBoot=yes
After=network-online.target systemd-firstboot.service home.mount systemd-homed.service
Wants=network-online.target home.mount systemd-homed.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/firstboot

[Install]
WantedBy=multi-user.target
