[Unit]
Description=LUKS2 Key Enrollment
Documentation=man:systemd-cryptenroll(1)
ConditionSecurity=uefi-secureboot
ConditionPathExists=!/var/lib/luks-enrolled
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/luks-enroll

[Install]
WantedBy=multi-user.target
