profile {
  output "{{ docked_monitors.laptop.id }}" position 0,0 scale {{ docked_monitors.laptop.scale }}
}
{% for external in docked_monitors.externals %}

profile {
  output "{{ docked_monitors.laptop.id }}" scale {{ docked_monitors.laptop.scale }}
  output "{{ external.id }}" scale {{ external.scale }}
  exec /usr/bin/center-laptop-output
}
{% endfor %}
